<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Creator App</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='cover.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Creator</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li><h3>{{ message }}</h3></li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <p>
            <form class="form-horizontal" action="/" method="post">
            <fieldset>

            <!-- Form Name -->
            <legend>Input a new case</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="filename">Filename</label>
              <div class="col-md-6">
              <input id="filename" name="filename" placeholder="placeholder" class="form-control input-md" required="" type="text">

              </div>
            </div>

            <!-- Multiple Radios -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="radios">Type of Side</label>
              <div class="col-md-4">
              <div class="radio">
                <label for="radios-0">
                  <input name="radios" id="radios-0" value="A" checked="checked" type="radio">
                  Appellete
                </label>
                </div>
              <div class="radio">
                <label for="radios-1">
                  <input name="radios" id="radios-1" value="O" type="radio">
                  Original
                </label>
                </div>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="typecase">Case Type</label>
              <div class="col-md-4">
              <input id="typecase" name="typecase" placeholder="placeholder" class="form-control input-md" type="text">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="casenumber">Case Number</label>
              <div class="col-md-4">
              <input id="casenumber" name="casenumber" placeholder="placeholder" class="form-control input-md" required="" type="text">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="casename">Case Name</label>
              <div class="col-md-6">
              <input id="casename" name="casename" placeholder="placeholder" class="form-control input-md" required="" type="text">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="heardon">Heard Date</label>
              <div class="col-md-4">
              <input id="heardon" name="heardon" placeholder="" class="form-control input-md" required="" type="text">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="judgementdate">Judgement Date</label>
              <div class="col-md-4">
              <input id="judgementdate" name="judgementdate" placeholder="" class="form-control input-md" required="" type="text">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="bench">Bench</label>
              <div class="col-md-4">
                <textarea class="form-control" id="bench" name="bench">One name per line</textarea>
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="petitioner">Petitioner Advocate</label>
              <div class="col-md-4">
                <textarea class="form-control" id="petitioner" name="petitioner">One name</textarea>
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="opposite">Opposite Advocate</label>
              <div class="col-md-4">
                <textarea class="form-control" id="opposite" name="opposite">One name</textarea>
              </div>
            </div>

              <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="citation">Citation</label>
              <div class="col-md-4">
                <textarea class="form-control" id="citation" name="Citation"></textarea>
              </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <input type="submit" value="Submit">
            </div>

            </fieldset>
            </form>

            </p>
          </div>

          <!-- <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div> -->

        </div>

      </div>

    </div>
  </body>
</html>
